[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/glbinding"]
	path = deps/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "deps/plf_list"]
	path = deps/plf_list
	url = https://github.com/mattreecebentley/plf_list.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/icculus/physfs.git
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3.git
	shallow = true
[submodule "deps/FastNoise2"]
	path = deps/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
